// 主题名称
$theme-name: 'en';

// 主题背景颜色
$theme-bg-color: rgba(149,132,255,1);

// 主题背景图片遮罩
$theme-bg-mask: rgba(#000, 0);

// 注册字体
$theme-font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;

// container组件
$theme-container-background-color: rgba(#FFF, 1);
$theme-container-header-footer-background-color: #FFF;
$theme-container-border-inner: 1px solid #cfd7e5;
$theme-container-border-outer: 1px solid #cfd7e5;


// 选项默认边框颜色值
$theme-options-border: 2px solid rgba(194,198,200,1);
// 选项hover边框颜色值
$theme-options-border-hover: 2px solid rgba(133,142,145,1);
// 选项选中边框颜色值
$theme-options-border-focus: 2px solid rgba(149,132,255,1);
// 选项正确边框颜色值
$theme-options-border-right: 2px solid rgba(20,222,131,1);
// 选项错误边框颜色值
$theme-options-border-error: 2px solid rgba(255,80,111,1);
